body {  padding : 10px ;  }

.panel-heading {background-color:whitesmoke}

/*.status {background-color:#eee; padding:3px; border: 1px dashed gainsboro; }*/

.table {background-color: gainsboro; }
.pagetitle{font-size:larger; float:left}
.pagetitleSub{ float:right; font-style:italic}
.panel-heading {height:42px; background-color:#eee}
.panel-heading.side { }
.panel-body.side { background-color:whitesmoke}
.tablename {font-weight:bold}
.footer {color:silver;}
.apiurl {text-decoration:none; color:gray}

.EditTableNameHeader {width:30%; background-color:gainsboro}
.EditTableValueHeader { background-color:whitesmoke}

.EditTableNameColumn {width:30%; background-color:whitesmoke}
.EditTableValueColumn { background-color:white}
.readonly {background-color:gainsboro}


.lookuppanel {padding:10px; background-color:whitesmoke; float:left}
.lookupkey {font-size:larger; padding:5px; width:80px}
.maintableheader {background-color:silver}

.savebuttons{background-color:gainsboro; padding:3px}
.attrPanel{background-color:whitesmoke; padding:3px}

.statusNormal{background-color:whitesmoke; padding:3px; border: 1px solid gainsboro}
.statusWarn{background-color:lightpink; padding:3px}
.statusError{background-color:hotpink; padding:3px}

.connectStatus {background-color:yellow; float:right}
.timeLeft { display:none}
.timeLeftVisible {color:silver; font-weight:bold; display:visible}

.magictable {  background-color: whitesmoke; padding:10px}
.magicbuttontd {padding:10px; }

.otheranswer { cursor:pointer; font-size:12pt; color:dimgray; }

.button.yes {  background-color:forestgreen; padding:10px; color:white; font-family:Arial; font-size:16pt; width:120px; text-align: center; cursor:pointer }
.button.dontknow {  background-color:grey; padding:10px; color:white; font-family:Arial; font-size:11pt;  width:120px; text-align: center; cursor:pointer }
.button.no {  background-color:lightcoral; padding:10px; color:white; font-family:Arial; font-size:16pt;  width:120px; text-align: center; cursor:pointer }


#exTab2 h3 {
    /*color : grey;*/
    /*background-color: #428bca;*/
    padding : 5px 15px;
}

.tab-pane {background-color:whitesmoke}


.table1 { border:1px gray; table-layout:fixed; }
.tdlabel { background-color: white; color:silver; font-family: "Arial"; font-size:small; padding:5px; border-top:2px solid white; }
.tdvalue { background-color: gainsboro; color:silver; font-family: "Courier New"; padding:5px; border-top:2px solid white; background-color:whitesmoke}
.tdvaluesmall { background-color: gainsboro; color:silver; word-wrap:break-word; font-size:9pt; font-family: "Courier New"; padding:5px; border-top:2px solid white; background-color:whitesmoke}
.connected { color:green; font-weight:bold; }
.disconnected { color:red; font-weight:bold; }


.iotMainPanel {overflow:scroll; height:350px; padding:3px;
        background-color:white;
        border-bottom:1px solid silver;
        border-left:1px solid silver;
        border-right:1px solid silver;
}

.iotIntentDiv {background-color:lemonchiffon; padding:3px}
.iotRequestDiv {background-color:palegoldenrod; padding:3px}

.iotResponseDiv {background-color:azure; width:100%; float:right; padding:3px; border-bottom:1px solid gainsboro}
.iotResponseEndDiv {background-color:azure; width:100%; float:right; padding:3px; border-bottom:3px solid silver }
.iotResponseSpan {color:cornflowerblue; float:right; width:80% }

.iotAttributesDiv {color:magenta; background-color: #FFEEFF; font-size:smaller;font-family:"Courier"; }
.iotAttributesSpan {}

.LogSpanIntent { background-color: darkkhaki; color:yellow; font-family: 'Courier New'; padding:3px}
.LogSpanSlots { color:dimgray; padding:3px}

/*.iotViewPref {display:""}*/

.cardTitle {color:white;  background-color:darkgray; padding:5px;  visibility: hidden; padding:3px; border: 1px dashed gainsboro}
.cardContent {color: dimgrey; background-color:gainsboro; padding:5px; visibility: hidden; font-size:smaller}
.cardImg {height:100px; width:150px; content:url("") }

/*.iotRequestSpan {color:darkred; font-weight:bold}*/
/*.iotIntentSpan {color:darkkhaki; font-weight:bold}*/
/*.iotInactive {color:dimgray; background-color:gainsboro}*/

.recList{border-bottom:2px silver}
.recListTable{padding:10px}
.MQTTstatus {float:center}

.time{font-size:larger; color:silver}
.timeRec{font-size:larger; color:red}
.timeDone{font-size:larger; color:green}

.row {}

.btn.btn-light{
    background-color: white;
    border: 1px solid gainsboro;
    color: gainsboro;

}
.btn.btn-xs.req {
     background-color:lightblue;

 }
.btn.btn-xs.res {
    background-color:lightblue;

}
.btn.btn-xs.att {
    background-color:white;

}

.tab-pane.iot {float:right}
